main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

main > img {
  width: 768px;
  max-width: 100%;
}

p {
  font-size: 1.2em;
}

nav {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  border: 1px solid black;
  padding: .5rem;
}

a {
  padding: 1em;
  cursor: pointer;
  font-size: 1.2em;
}

textarea {
  width: 768px;
  max-width: 100%;
  min-height: 600px;
}